<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmyraahi.vendor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onboarding.SplashActivity" />
        <activity
            android:name=".onboarding.GetOtpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".onboarding.MenuActivity" />
        <activity
            android:name=".onboarding.VerifyOtpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onboarding.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bookings.BookingActivity" />
        <activity android:name=".bookings.BookingDetailsActivity" />
        <activity
            android:name=".payments.PaymentDetailsActivity"
            android:label="@string/title_activity_payment_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".payments.PaymentActivity"
            android:label="@string/title_activity_payment_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".account.ProfileActivity" />
        <activity android:name=".account.EditProfileActivity" />
        <activity android:name=".blockInventory.BlockedActivity" />
        <activity android:name=".inventory.AddInventoryActivity" />
        <activity android:name=".inventory.InventoryListActivity" />
        <activity android:name=".price.futurePrice.FuturePriceListActivity" />
        <activity android:name=".price.PriceListActivity" />
        <activity android:name=".price.futurePrice.UpdateActivity"></activity>
    </application>

</manifest>